nav {
  list-style: none;
  flex-direction: column!important;
  display: flex;
}

nav a {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  color: #007bff;
}

.main_header {
  text-align: center;
}

.logout {
  float: right;
}
