<div class="profile-info" *ngIf="profile">
  <img *ngIf="profile && profile.photoUrl" src="{{profile.photoUrl}}"/>
  <span>Имя: {{profile.firstName}} </span>
  <span>Фамилия: {{profile.lastName}}</span>
  <span>Дата рождения: {{profile.birthDay}}</span>
  <span>Семейный статус: {{profile.martialStatus}}</span>
</div>
<div class="line"></div>
<div *ngIf="!myProfile" class="buttons">
  <button pButton type="button" label="Добавить в друзья"></button>
  <button pButton type="button" label="Написать сообщение"></button>
</div>
<div class="line"></div>
<div>
  <div *ngIf="profile && profile.wallMessages">
    <div *ngFor="let wallMessage of profile.wallMessages">
      <app-wall-message [wallMessage]="wallMessage"></app-wall-message>
    </div>
  </div>
  <span *ngIf="!profile || !profile.wallMessages">Сообщений нет</span>
</div>
